# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

#gedit and vim
*.swp
*.*~

#for some reason qt project has .desktop files
*.desktop

#mac specific
.DS_Store
